:root {
--background-color: #000000d2;
--font-family: monospace;
--font-size: 40px;
--font-weight: 800;
--line-height: 100%;
--volt-color: #00ff00;
--amp-color: #ffff00;
--padding: 10px;
--border-width: 1px;
--border-style: outset;
--border-color: #636363;
--border-radius: 10px;
--box-shadow: 5px 5px 10px #000000A0;
--text-stroke-width: 1px;
--text-stroke-color: #000000;
--line-width: 2;
--blur-width: 5;
}
