<!DOCTYPE html>
<html>
<head>
<title>OSD</title>
<style type="text/css">
:root {
--background-color: {{.Settings.BackgroundColor}};
--font-family: {{.Settings.FontFamily}};
--font-size: {{.Settings.FontSize}}px;
--font-weight: {{.Settings.FontWeight}};
--line-height: {{.Settings.LineHeight}}%;
--volt-color: {{.Settings.VoltColor}};
--amp-color: {{.Settings.AmpColor}};
--border-radius: 10px;
--box-shadow: 10px 10px 20px #00000080;
}

#psu {
	width: min-content;
	padding: 5px;
	font-family: var(--font-family); 
	line-height: var(--line-height);
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	background-color: var(--background-color);
	transition: opacity .5s;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
} 
.volts { color: var(--volt-color); text-align: right;}
.amps { color: var(--amp-color); text-align: right; }
.volts:after { content: "V"; }
.amps:after { content: "A"; }
.error { opacity: 0; }
html, body { margin: 0; padding: 0 }
</style>
<script>
document.addEventListener("DOMContentLoaded", function(e) {
	let source = new EventSource({{.EventSource}});
	let psu = document.getElementById("psu")
	let volts = psu.querySelector(".volts")
	let amps = psu.querySelector(".amps")

	source.addEventListener("settings", (e) => {
		let d = new URLSearchParams(e.data)
		let s = document.documentElement.style
		s.setProperty("--background-color", d.get("backgroundColor"))
		s.setProperty("--font-family", d.get("fontFamily"))
		s.setProperty("--font-size", d.get("fontSize"))
		s.setProperty("--font-weight", d.get("fontWeight"))
		s.setProperty("--line-height", d.get("lineHeight"))
		s.setProperty("--volt-color", d.get("voltColor"))
		s.setProperty("--amp-color", d.get("ampColor"))
	})
	source.addEventListener("error", (e) => psu.classList.add("error"))
	source.addEventListener("open", (e) => psu.classList.remove("error"))
	source.addEventListener("volts", (e) => volts.innerText = e.data);
	source.addEventListener("amps", (e) => amps.innerText = e.data);
});
</script>
</head>
<body>
	<div id="psu" class="error">
		<div class="volts" title="Volts"></div>
		<div class="amps" title="Amps"></div>
	</div>
</body>
</html>